/* small screen*/
.container{
    margin: 5rem auto;
    padding: 1rem;
}

.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__left{
    margin-bottom: 1rem;
}

.hero__title{
    color: #FF4F5A;
    font-size: 2.44rem;
    font-weight:bolder;
    font-size: 48px;
}

.hero__tagline{
    color: #1A2E35 ;
    margin-bottom: 1rem;
    font-size: large;
}

.hero__description{
    color: #FFADB3;
    margin-bottom: 1rem;
    font-size: small;
}

.hero__button{
    padding: 0.6rem 2.6rem;
    border: none;
    border-radius: 10px;
    background-color: #FF4F5A;
    color: #fff;
}

.hero__button:hover{
    background-color: transparent;
    border:  2px solid #FF4F5A;
    color: #FF4F5A;
}

.hero__image{
    max-width: 100%;
    height: auto;
}

/* medium screen */
@media (min-width:768px){

}

@media (min-width: 992px){
    .container{
        max-width: 1200px;
    }

    .hero{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left{
        flex-basis: 40%;
    }
    
    .hero__description{
        margin-bottom: 1rem;
    }

    .hero__button{
        margin-top: 1rem;
    }
    
    .hero__right{
        flex-basis: 60%;
    }
    

}
